@model FerrumChromeDev.Models.ActivityModel
@{
    ViewBag.Title = "AddActivity";
}

@using (Html.BeginForm("SaveActivity", "Home"))
{
    @Html.HiddenFor(m=>m.Phone)
    <div class="container">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectCustomer">Company</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(r => r.CompanyIdentifier, (IEnumerable<SelectListItem>)ViewBag.CompaniesList, "Select Company", new { @id = "comapanyDD", @class = "form-control" })
                        @*<select class="form-control">
                                <option>A</option>
                            <option>B</option>
                            <option>C/option>
                            <option>D</option>
                            </select>*@


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Member</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(r => r.AssignTo, (IEnumerable<SelectListItem>)ViewBag.MembersList, "Select Member", new { @id = "comapanyDD", @class = "form-control" })
                        @*<select class="form-control">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Subject</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control input-lg" })
                        @*<input type="text" class="form-control input-lg"/>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Notes</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(a => a.Notes, new { @class = "form-control" })
                        @*<textarea class="form-control"></textarea>*@
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-primary">Cancel</button>
                </div>

            </div>
        </div>
    </div>

}