@model FerrumChromeDev.Models.ActivityModel
@{
    ViewBag.Title = "AddActivity";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
@*@using (Html.BeginForm("SaveActivity", "Home"))
{
    @Html.HiddenFor(m => m.ContactId)
    @Html.HiddenFor(m => m.CompanyIdentifier)
    <div class="container">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectCustomer">Activity Type</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(r => r.ActivityType, (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Select Type", new { @id = "activityTypeDD", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Member</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(r => r.AssignTo, (IEnumerable<SelectListItem>)ViewBag.MembersList, "Select Member", new {  @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Subject</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control input-lg" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Notes</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(a => a.Notes, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}*@
<div class="container">
    <div class="ferrum_wd">
        <div class="row">
            <div class="col-md-12">
                <div class="call tx_ct"><img src="~/Content/images/logo.png"></div>
                <div class="ticket_text">
                    <div class="text_pr"><p>Add Activity - New Activity Entry<a href="@Url.Action("Index", "Home", new { callerID=ViewBag.Mobile})"><span>X</span></a><p /></div>
                </div>
@using (Html.BeginForm("SaveActivity", "Home"))
{
    @Html.HiddenFor(m => m.ContactId)
    @Html.HiddenFor(m => m.CompanyIdentifier)
                <div class="sv_br">
                   
                  
                    <div class="sv_ar">
                        <p>Activity Type:</p>
                       
                            @Html.DropDownListFor(r => r.ActivityType, (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Select Type", new { @id = "activityTypeDD", @class = "form-control" })
                       
                    </div>
                    <div class="sv_ar">
                        <p>Member:</p>

                       @Html.DropDownListFor(r => r.AssignTo, (IEnumerable<SelectListItem>)ViewBag.MembersList, "Select Member", new { @class = "form-control" })


                    </div>
                    <div class="sv_ar">
                        <p>Subject:</p>

                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control input-lg" })
                    </div>
                    <div class="ticket_text mg_p">
                        <p>Note:</p>
                        <div class="td_note wd_td">
                            <div class="">
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @style="height:150px;" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
}
            </div>
        </div>
    </div>
</div>
<script>
    $("#comapanyDD").change(function () {
       // alert("sf");
        var comp = $("#comapanyDD").val();
        $.ajax({
            url: '@Url.Action("GetContactsDropDown", "Home")',
        data: { CompanyIdentifier: comp },
        success: function (data) {
            var items = '<option>Select Contact</option>';
            $.each(data, function (i, Contactlst) {
                items += "<option value='" + Contactlst.Value + "'>" +
                          Contactlst.Text + "</option>";
            });
            $('#contactDD').html(items);
        }
    });
    });

</script>


