@model FerrumChromeDev.Models.ContactModel
@{
    ViewBag.Title = "AddContact";
    
}



<div class="container">
    @using(Html.BeginForm("SaveContact" ,"Home" ,FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.Phone)
    <div class="form-group">
        <label for="inputEmail">First Name :</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="inputPassword">Last Name :</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>
    
   
    <div class="form-group">
        <label for="inputPassword">Email :</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="inputPassword">Company :</label>
        @Html.DropDownListFor(r => r.companyIdentifier, (IEnumerable<SelectListItem>)ViewBag.CompaniesList, "Select Company", new { @id = "comapanyDD", @class = "form-control" })
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>



    }


</div>

