@model FerrumChromeDev.Models.ContactModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="~/Scripts/bootstrap.js"></script>

          @if (Model.FirstName != null)
          {
<div class="container" style="height:200px;width:400px">
    <div class="row">
        <label style="margin-top:10px;margin-bottom:0px">OUTGOING CALL </label>
        <hr />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="row">
                        <span class="fa fa-phone-square fa-4x" />
                    </div>
                    <div class="row">&nbsp;</div>

                </div>
                <div class="col-md-5 col-xs-5" style="margin-left:5px">
                    <div class="row">
                        <span style="color:#CCDEE2">@Model.FirstName @Model.LastName</span>
                    </div>
                    <div class="row">
                        <label style="color:lightgray">Callinize-Support</label>
                    </div>
                    <div class="row">
                        <label id="phoneNoLabel" style="color:darkblue">@Model.Phone</label>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Lead</button>
                    </div>

                </div>

                <div class="pull-right col-md-4 col-xs-4">
                    <div class="row text-center" style="background-color:#DFEFFF;border-radius:15px">
                        <label>00:00:06</label>
                        <span>hour:min:sec</span>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <a style="color:black;font-size:10px">Email Templates<span class="caret" /></a>
                        <span style="color:#1979CA" class="pull-right"><i class="fa fa-envelope" aria-hidden="true"></i> </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <hr style="border-top: dotted 1px;" />
            <div class="col-md-12">
                <div class="col-md-1 col-xs-1">
                    <a id="prev" style="color:darkgray"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="divs">
                        @if (Model.ActivityList.Count > 0 || Model.ActivityList!=null)
                        {
                        foreach (var activity in @Model.ActivityList)
                        {
                        <div class="row">
                            <label style="color:lightgray">@activity.ActivityTypeDescription by @activity.AssignTo @activity.DueDate</label>
                            <label>- @activity.Notes</label>
                        </div>
                        }
                        }
                        else
                        {
                        <div class="row">
                            <label style="color:lightgray">No Activity Added</label>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="pull-right col-md-2 col-xs-2">
                <a id="next" style="color:darkblue"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#DFEFFF">
        <div class="col-md-12 col-xs-12 text-center" style="margin-top:6px;margin-bottom:6px">
            <a onclick="AddActivity()" href="javascript:void(0)" class="btn btn-primary">Click here to add activity</a>
        </div>
        <div class="row text-center" style="margin-top:6px;margin-bottom:6px">
            <a href="javascript:void(0)" onclick="CreateTicket('@Model.Phone')" class="btn btn-primary" style="width:180px">Click here to create ticket</a>
        </div>
    </div>
</div>
          } 
          else
          {

<div class="container" style="height:400px;width:400px">

    <div class="row">
        <label style="margin-top:10px;margin-bottom:0px">Incoming CALL </label>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="row">
                    <span class="fa fa-phone-square fa-4x" />
                </div>
                <div class="row">
                    <a href="@Url.Action("AddContact","Home",new {CallerID = Model.Phone })">Create</a>
                </div>

            </div>
            <div class="col-md-6" style="margin-left:5px">
                <div class="row">
                    <span style="color:#CCDEE2">No User</span>
                </div>
                <div class="row">
                    <label style="color:lightgray">Callinize-Support</label>
                </div>


            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>
          }
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ticket not exist </h4>
            </div>
            <div class="modal-body">
                <p>Do you want to create a new service ticket </p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("AddNewServiceTicket", "ServiceTicket")" class="btn btn-default">Create</a>
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myNewModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> View Ticket</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to view service ticket or add new </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default">Create New</a>

                <button type="button" class="btn btn-default" data-dismiss="modal">View</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".divs div").each(function (e) {
            if (e != 0)
                $(this).hide();
        });

        $("#next").click(function () {
            if ($(".divs div:visible").next().length != 0)
                $(".divs div:visible").next().show().prev().hide();
            return false;
        });

        $("#prev").click(function () {
            if ($(".divs div:visible").prev().length != 0)
                $(".divs div:visible").prev().show().next().hide();
            return false;
        });
    });

    function AddActivity() {
       
        var phone = $("#phoneNoLabel").text();
        var ID = '@Model.CompanyID';
        window.location.href = "/Home/AddActivity?Phone=" + phone+"&ID="+ID;
    }
    function CreateTicket(PhoneNo)
    {
        $.ajax(
            {
                url:'@Url.Action("CheckTicket", "ServiceTicket")',
                data: { Mobile: PhoneNo },
                method: "POST",
                type: "JSON",
                success:function(data)
                {
                    if(data.length==0)
                    {
                        $("#myModal").modal('show');
                    }
                    else {
                        $("#myNewModal").modal('show');
                    }
                    
                }
            });
    }
</script>


