@model FerrumChromeDev.Models.ContactModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
    var i = 0;
}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


@helper Truncate(string input, int length)
{
    var Text=input;
    if(input !=null)
    { 
    if(input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text><a href="#" style="color:blue" onclick="ReadMore('@Text')">..Read More</a> </text>
 
}}
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Ferrum</title>
    <!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
    @if(Model.FirstName != null)
          {
        <div class="container">
            <div class="ferrum_wd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call"><img src="~/Content/images/logo.png"><span class="call_ot">OUTGOING CALL</span></div>
                    </div>
                    <div class="col-md-12">
                        <div class="cl_bc">
                            <div class="col-md-6 col-xs-6 col-sm-6 wd_cl">
                                <div class="call_bl">
                                    <div class="ferrum_icon">
                                        <img src="~/Content/images/call.png">
                                    </div>
                                    <div class="ferrum_text">
                                        <h4 class="ferrum_hd_cl">@Model.FirstName @Model.LastName</h4>
                                        <h4 class="ferrum_hd">@Model.CompanyName</h4>
                                        <h4 class="ferrum_nb">@Model.Phone</h4>
                                        <div class="btn_link"><a href="https://control.mysupport247.net/v4_6_release/services/system_io/router/openrecord.rails?locale=en_US&recordType=ContactFV&companyName=MySupport247&recid=10788">Load</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6 wd_cl wd_mg">
                                <div class="call_bl">
                                    <div class="counter">
                                        <div class="timer">00:00:06</div>
                                        <div class="hour">hour:min:sec</div>
                                    </div>
                                    <div class="email">
                                        <p>Email Templates <span class="caret"></span><span class="mail_icon"><img src="~/Content/images/mail.png"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="bc_cl">
                            <h5>Active Notes</h5>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ferrum_testimonal">
                            <div class="content">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    @if(Model.ActivityList.Count > 0 || Model.ActivityList!=null)
                        {
                                        <div class="carousel-inner">

                                            @foreach(var activity in Model.ActivityList)
                        {
                            string className = "";
                                                if(i==0)
                                                {
                                                    className = "active";
                                                }
                                                i++;
                                                <div class="item @className">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="adjust1">
                                                                <div class="col-md-3 col-sm-3 col-xs-3 padding_zero">
                                                                    <img class="media-object img-rounded img-responsive" src="~/Content/images/phone.png">
                                                                </div>
                                                                <div class="col-md-9 col-sm-9 col-xs-9 pa_zero">
                                                                    <div class="caption">
                                                                        <p class="text-info lead adjust2">@activity.ActivityTypeDescription by @activity.AssignTo @activity.DueDate</p>
                                                                        <p>
                                                                            <span class="glyphicon glyphicon-thumbs-up">
                                                                            </span>- @Truncate(activity.Notes,50)
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                                
                                                
                                            </div> <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right">
                                                    </span>
                                                </a>
                            
                                    }
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        <div class="col-md-12">
                                            <div class="ferrum_btn">
                                                <div class="click_btn"><a onclick="AddActivity()" href="javascript:void(0)" class="btn btn-primary">Click here to add activity</a></div>
                                                <div class="click_btn btn_cl"><a href="javascript:void(0)" onclick="CreateTicket('@Model.Phone')" class="btn btn-primary" style="width:180px">Click here to create ticket</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
else
{
                                        <div class="container">
                                            <div class="ferrum_wd">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="call"><img src="~/Content/images/logo.png"><span class="call_ot">OUTGOING CALL</span></div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="cl_bc">
                                                            <div class="col-md-6 col-xs-6 col-sm-6 wd_cl">
                                                                <div class="call_bl">
                                                                    <div class="ferrum_icon">
                                                                        <img src="~/Content/images/phone.png">
                                                                    </div>
                                                                    <div class="ferrum_text">
                                                                        <h4 class="ferrum_hd_cl">No User</h4>
                                                                        <h4 class="ferrum_hd">No Company</h4>
                                                                        <h4 class="ferrum_nb"></h4>
                                                                        <div class="btn_link"><a href="@Url.Action("AddContact","Home",new {CallerID = Model.Phone })">Create</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="col-md-6 col-xs-6 col-sm-6 wd_cl wd_mg">
                                                                    <div class="call_bl">
                                                                        <div class="counter">
                                                                            <div class="timer">00:00:06</div>
                                                                            <div class="hour">hour:min:sec</div>
                                                                        </div>
                                                                        <div class="email">
                                                                            <p>Email Templates <span class="caret"></span><span class="mail_icon"><img src="images/mail.png"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
}


                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Ticket not exist </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you want to create a new service ticket </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="@Url.Action("AddNewServiceTicket", "ServiceTicket", new { CompanyID = Model.CompanyID ,mobile=Model.Phone })" class="btn btn-default">Create</a>

                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="myNewModal" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title"> View Ticket</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you want to view service ticket or add new </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="@Url.Action("AddNewServiceTicket", "ServiceTicket", new { CompanyID = Model.CompanyID, mobile = Model.Phone })" class="btn btn-default">Create</a>


                                                    <a href="@Url.Action("ViewServiceTickets", "ServiceTicket", new {mobile = Model.Phone })" class="btn btn-default">View Tickets</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
    <div class="modal fade" id="myTextModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Ticket Note</h4>
                </div>
                <div  class="modal-body">
                    <p id="NoteText"> </p>
                </div>
             
            </div>
        </div>
    </div>
              
    <div class="ferrum_wds navbar-default call_bl side-collapse in">
        <div class="row">
            <div class="col-md-12">
                <div class="call"><img src="~/Content/images/logo.png"></div>
            </div>
          <!-- Call hsitory page here -->
        </div>
    </div>
    @*<div style="display:block" data-toggle="collapse-side" data-target=".side-collapse" type="button" class="navbar-toggle mg_bt">
        <span><i id="SideBar" class="fa fa-angle-double-left" aria-hidden="true"></i></span>
    </div>*@                      <!-- Bootstrap core JavaScript
                                    ================================================== -->
                                    <!-- Placed at the end of the document so the pages load faster -->
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                                    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/bootstrap.js"></script>
                                    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
                                   
                                    <script>
                                        $(document).ready(function () {
                                            $(".divs div").each(function (e) {
                                                if (e != 0)
                                                    $(this).hide();
                                            });

                                            $("#next").click(function () {
                                                if ($(".divs div:visible").next().length != 0)
                                                    $(".divs div:visible").next().show().prev().hide();
                                                return false;
                                            });

                                            $("#prev").click(function () {
                                                if ($(".divs div:visible").prev().length != 0)
                                                    $(".divs div:visible").prev().show().next().hide();
                                                return false;
                                            });
                                        });

                                        function AddActivity() {

                                            var phone = $("#phoneNoLabel").text();
                                            var ID = '@Model.CompanyID';
                                            window.location.href = "/Home/AddActivity?Phone=" + phone + "&ID=" + ID;
                                        }
                                        function CreateTicket(PhoneNo) {
                                            $.ajax(
                                                {
                                                    url: '@Url.Action("CheckTicket", "ServiceTicket")',
                                                    data: { Mobile: PhoneNo },
                                                    method: "POST",
                                                    type: "JSON",
                                                    success: function (data) {
                                                        if (data.length == 0) {
                                                            $("#myModal").modal('show');
                                                        }
                                                        else {
                                                            $("#myNewModal").modal('show');
                                                        }

                                                    }
                                                });
                                        }

                                        function ReadMore(text)
                                        {
                                            $("#myTextModal").modal('show');
                                            $("#NoteText").html('');
                                            $("#NoteText").text(text);
                                        }
                                        $(document).ready(function () {
                                            $('[data-toggle=collapse-side]').click(function (e) {
                                                $('.side-collapse').toggleClass('in');
                                                $("#SideBar").toggleClass('fa-angle-double-right');
                                            });
                                        });
                                    </script>

                                </body>
                            </html>










































































































                            @*@if (Model.FirstName != null)
          {
<div class="container" style="height:200px;width:400px">
    <div class="row">
        <label style="margin-top:10px;margin-bottom:0px">OUTGOING CALL </label>
        <hr />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="row">
                        <span class="fa fa-phone-square fa-4x" />
                    </div>
                    <div class="row">&nbsp;</div>

                </div>
                <div class="col-md-5 col-xs-5" style="margin-left:5px">
                    <div class="row">
                        <span style="color:#CCDEE2">@Model.FirstName @Model.LastName</span>
                    </div>
                    <div class="row">
                        <label style="color:lightgray">Callinize-Support</label>
                    </div>
                    <div class="row">
                        <label id="phoneNoLabel" style="color:darkblue">@Model.Phone</label>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Lead</button>
                    </div>

                </div>

                <div class="pull-right col-md-4 col-xs-4">
                    <div class="row text-center" style="background-color:#DFEFFF;border-radius:15px">
                        <label>00:00:06</label>
                        <span>hour:min:sec</span>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <a style="color:black;font-size:10px">Email Templates<span class="caret" /></a>
                        <span style="color:#1979CA" class="pull-right"><i class="fa fa-envelope" aria-hidden="true"></i> </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <hr style="border-top: dotted 1px;" />
            <div class="col-md-12">
                <div class="col-md-1 col-xs-1">
                    <a id="prev" style="color:#DFEFFF"><i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="divs">
                        @if (Model.ActivityList.Count > 0 || Model.ActivityList!=null)
                        {
                        foreach (var activity in @Model.ActivityList)
                        {
                        <div class="row">
                            <label style="color:lightgray">@activity.ActivityTypeDescription by @activity.AssignTo @activity.DueDate</label>
                            <label>- @activity.Notes</label>
                        </div>
                        }
                        }
                        else
                        {
                        <div class="row">
                            <label style="color:lightgray">No Activity Added</label>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="pull-right col-md-2 col-xs-2">
                <a id="next" style="color:#3276B1"><i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#DFEFFF">
        <div class="col-md-12 col-xs-12 text-center" style="margin-top:6px;margin-bottom:6px">
            <a onclick="AddActivity()" href="javascript:void(0)" class="btn btn-primary">Click here to add activity</a>
        </div>
        <div class="row text-center" style="margin-top:6px;margin-bottom:6px">
            <a href="javascript:void(0)" onclick="CreateTicket('@Model.Phone')" class="btn btn-primary" style="width:180px">Click here to create ticket</a>
        </div>
    </div>
</div>
          } 
          else
          {

<div class="container" style="height:400px;width:400px">

    <div class="row">
        <label style="margin-top:10px;margin-bottom:0px">Incoming CALL </label>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="row">
                    <span class="fa fa-phone-square fa-4x" />
                </div>
                <div class="row">
                    <a href="@Url.Action("AddContact","Home",new {CallerID = Model.Phone })">Create</a>
                </div>

            </div>
            <div class="col-md-6" style="margin-left:5px">
                <div class="row">
                    <span style="color:#CCDEE2">No User</span>
                </div>
                <div class="row">
                    <label style="color:lightgray">Callinize-Support</label>
                </div>


            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>
                                          }*@
                


